[submodule "libs/imgui"]
	path = libs/imgui
	url = git@github.com:Flix01/imgui.git
[submodule "libs/Hypodermic"]
	path = libs/Hypodermic
	url = git@github.com:ybainier/Hypodermic.git
[submodule "libs/IconFontCppHeaders"]
	path = libs/IconFontCppHeaders
	url = git@github.com:juliettef/IconFontCppHeaders.git
[submodule "libs/json"]
	path = libs/json
	url = git@github.com:nlohmann/json.git
[submodule "libs/linq"]
	path = libs/linq
	url = git@github.com:coveo/linq.git
